.content {
    margin: 0 0 0 28px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 57px;

    h4 {
        display: block;
        width: 100%;
        padding-left: 15px;
    }

    @import "skilllist";
    @import "skilltag";
    @import "education";
    @import "article";
}
 