
.education {
    display: table;
    width: 100%;
    margin-top: 40px;

    .education-row {
        display: table-row;

        .education-cell {
            display: table-cell;
            text-align: center;
            padding: 5px 0;
            font-size: 14px;

            &:first-child {
                width: 50%;
                text-align: left;
                padding-right: 10px;
            }

            h2 {
                color: #c6c4c4;
                font-size: 19px;
                line-height: 23px;
            }
        }
    }

    .education-header {
        .education-cell {
            text-align: center;
        }
    }
}
