.skill-list {
    h3 {
        font-size: 20px;
        text-align: left;
        color: #c5c3c3;
        position: relative;

        &:before {
            width: 70%;
            height: 2px;
            background-color: rgba(197, 195, 195, 0.22);
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
        }
    }

    .skill-category {
        display: table;
        width: 96%;

        .skill-row {
            display: table-row;

            .skill-cell {
                display: table-cell;
                border-bottom: 8px solid #FFF;


                &:first-child {
                    font-size: 13px;
                    width: 240px;
                }

                &:last-child {
                    width: 103px;
                    text-transform: uppercase;
                    line-height: 30px;
                    font-size: 12px;
                    text-align: center;
                }
            }

            .has-exp {
                background-color: forestgreen;
                color: #ffffff;
            }

            .expert {
                background-color: firebrick;
                color: #ffffff;
            }

            .advanced {
                background-color: darkorange;
                color: #ffffff;
            }
        }
    }
}